.app-title {
  text-align: center;
}

.table-section {
  padding: 50px;
}

.section-title {
  text-align: center;
}

.csv-upload-section input {
  margin-left: 20px;

}


.csv-upload-section {
  display: flex;
  justify-content: center;
  align-items: center;
}